.videoBlock {
  width: 100%;
  height: 100%;
}
.videoBlock__thumbnail {
  width: 100%;
  height: 100%;
}
.videos {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
}
